@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.container {
  padding: 0px;
  font-size: 18px;
}



@media (max-width: 480px) {
  .container {
    padding: 0px;
    font-size: 12px;
  }
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Tailwind-compatible custom scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #0a0a0a; /* Tailwind yellow-400 */
  border-radius: 9999px;
  border: 2px solid #0a0a0a; /* Tailwind gray-800 (background) */
}

.scrollbar-custom {
  scrollbar-color: #0a0a0a transparent; /* Firefox */
  scrollbar-width: thin;
}
